<tr>
  <td>
    <table
      class="email-footer"
      align="center"
      width="570"
      cellpadding="0"
      cellspacing="0"
    >
      <tr>
        <td align="center">
          <p class="sub align-center">
            Do not reply to this e-mail because it is unmonitored.
            <br />
            &copy;{{ copyrightYear 2023 }} - {{ appName }}. All Rights Reserved.
          </p>
        </td>
      </tr>
    </table>
  </td>
</tr>